*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    background:#f8f8f8;
    color:#333;
    scroll-behavior:smooth;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

header{
    background:#0f3b2e;
    position:fixed;
    width:100%;
    z-index:1000;
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
}

.logo{
    height:45px;
}

nav a{
    color:#fff;
    margin-left:20px;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

nav a:hover{
    color:#d4af37;
}

.hero{
    background:url("./assets/bc.jpeg") center/cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color:#fff;
    padding:180px 0 120px;
    text-align:center;
}

.hero h1{
    font-size:36px;
    margin-bottom:20px;
}

.hero span{
    color:#d4af37;
}

.section{
    padding:90px 0;
}

.section h2{
    text-align:center;
    margin-bottom:40px;
    font-size:32px;
    color:#0f3b2e;
}

.dark{
    background:#0f3b2e;
    color:#fff;
}

.dark h2{
    color:#fff;
}

.fundadores{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    background:#fff;
    padding:25px;
    border-radius:10px;
    text-align:center;
    width:320px;
}

.cor-texto {
    color: #0f3b2e;;
}

.card img{
    width:100%;
    border-radius:8px;
    margin-bottom:15px;
}

.card h3{
    color:#0f3b2e;
}

.card span{
    font-size:13px;
    display:block;
    margin:10px 0;
    color:#777;
}

.grid-4{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.lista{
    list-style:none;
    text-align:center;
}

.lista li{
    margin:12px 0;
    font-size:18px;
}

.form{
    max-width:600px;
    margin:30px auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form input,
.form textarea{
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
}

.form button{
    padding:12px;
    background:#0f3b2e;
    color:#fff;
    border:none;
    cursor:pointer;
    transition:.3s;
}

.form button:hover{
    background:#d4af37;
}

footer{
    background:#000;
    color:#fff;
    text-align:center;
    padding:20px;
}

.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25d366;
    color:#fff;
    padding:14px 18px;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    transition:.3s;
}

.whatsapp:hover{
    transform:scale(1.05);
}

@media(max-width:768px){
    nav{
        display:none;
    }

    .hero h1{
        font-size:26px;
    }

    .fundadores{
        flex-direction:column;
        align-items:center;
    }
}

.msg{
    max-width:600px;
    margin:20px auto;
    padding:15px;
    text-align:center;
    border-radius:6px;
    font-weight:500;
}

.msg.sucesso{
    background:#d4edda;
    color:#155724;
}

.msg.erro{
    background:#f8d7da;
    color:#721c24;
}