:root {
    --cor-verde: rgb(148, 171, 134);
}

* {
    color: black;
    font-family: 'Segoe UI'!important;
    
}

body {
    background-color: rgb(238, 238, 238)!important;
}


.bg-bc {
    background: var(--cor-verde);
}

.title {
    font-size: 30px;
    color: var(--cor-verde);
    font-weight: 600;
}

.text-color {
    color: white;
}

.text-justify {
    text-align: justify;
}

.strong {
    font-weight: 600;
    display: inline-block!important;
}

.text-inst {
    padding: 5px;
    text-align: center;
    color: var(--cor-verde);
    font-weight: 500;
    font-size: 20px;
}

.btn-color {
    background-color: var(--cor-verde)!important;
}