:root {
    --cor-verde: rgb(148, 171, 134);
}

* {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

.ilogo {
    color: white;
}

.link {
    color: white!important;
    text-decoration: none!important;
    font-weight: 500;
}

body {
    background-color: rgb(238, 238, 238)!important;
}


.bg-bc {
    background: var(--cor-verde);
}

.title {
    font-size: 30px;
    color: var(--cor-verde);
    font-weight: 600;
}

.text-color {
    color: white;
}

.text-justify {
    text-align: justify;
}

.strong {
    font-weight: 600;
    display: inline-block!important;
}

.text-inst {
    padding: 5px;
    text-align: center;
    color: var(--cor-verde);
    font-weight: 500;
    font-size: 30px;

}


.text-inter {
    padding: 5px;
        font-weight: 500;
        font-size: 22px;
    color: var(--cor-verde);
}

.text-color-verde {
    color: var(--cor-verde);
    font-weight: 600;
}

.btn-color {
    background-color: var(--cor-verde)!important;
}

.text-white {
    color: white!important;
}